In [1]:
import pandas
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [8]:
import os
import pymysql
import pandas as pd

conn = pymysql.connect(
    port=int(3306),
    user="root",
    passwd="nandha10",
    db="rating",
    charset='utf8mb4')

df = pd.read_sql_query("SELECT * FROM products",
    conn)
df.tail(10)

   id  rate name
0   4     7   mi

In [ ]:
mycursor = conn.cursor()

mycursor.execute("CREATE TABLE churnModel (RowNumber INT(255), CustomerId INT(255), Surname VARCHAR(255), CreditScore INT(255), Geography VARCHAR(255), Gender VARCHAR(255), Age INT(255), Tenure INT(255), Balance FLOAT(10), NumOfProducts INT(10), HasCrCard INT(20), IsActiveMember INT(10),EstimatedSalary FLOAT(20), Exited INT(10))")

In [ ]:
churnData = pd.read_csv("./Churn_Modelling.csv")

In [ ]:
churnData.columns

In [ ]:
churnData

In [ ]:
!python --version

In [ ]:
!pip --version

In [ ]:
!pip install pymysql

In [ ]:
churnData.to_sql('churnModel', con = conn, if_exists = 'append', chunksize = 1000,index=False)

In [ ]:
from pymysql.connector import Error

In [ ]:
!pip freeze

In [ ]:
tenData = churnData[:10]
tenData

In [ ]:
sql = "INSERT INTO churnModel (RowNumber, CustomerId, Surname, CreditScore, Geography,\
       Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard,\
       IsActiveMember, EstimatedSalary, Exited) VALUES (%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s)"
val = (1, 101, "Nandha", 619, "Spain", "Male", 24, 2, 0.00, 1, 1, 1, 101034.88, 1)
mycursor.execute(sql, val)

conn.commit()

In [ ]:
for i, row in churnData.iterrows():
    sql = "INSERT INTO churnModel (RowNumber, CustomerId, Surname, CreditScore, Geography,\
       Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard,\
       IsActiveMember, EstimatedSalary, Exited) VALUES (%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    conn.commit()
    print(i, tuple(row))

In [ ]:
df = pd.read_sql_query("SELECT * FROM churnModel",
    conn)
df